@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-colour: #0a0a0a;
  --font-light: #f5f5f5;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--font-light);
  overflow-x: hidden;
  background-color: var(--background-colour);
  cursor: default;
  /* background-color: grey; */
}

.model {
  display: grid;
  place-items: center;
  height: 100vh;
  cursor: grabbing;
}